[submodule "python/submodules/circuit-synth"]
	path = python/submodules/circuit-synth
	url = https://github.com/circuit-synth/circuit-synth.git
[submodule "submodules/KiCAD-MCP-Server"]
	path = submodules/KiCAD-MCP-Server
	url = https://github.com/mixelpixx/KiCAD-MCP-Server.git
[submodule "submodules/kicad-mcp-lamaal"]
	path = submodules/kicad-mcp-lamaal
	url = https://github.com/lamaalrajih/kicad-mcp.git
