[submodule "submodules/kicad-skip"]
	path = submodules/kicad-skip
	url = https://github.com/psychogenic/kicad-skip.git
[submodule "tools/context-portal"]
	path = tools/context-portal
	url = https://github.com/GreatScottyMac/context-portal.git
