[submodule "submodules/pcb"]
	path = submodules/pcb
	url = https://github.com/diodeinc/pcb.git
[submodule "submodules/skidl"]
	path = submodules/skidl
	url = https://github.com/devbisme/skidl.git
[submodule "submodules/tscircuit"]
	path = submodules/tscircuit
	url = https://github.com/tscircuit/tscircuit.git
[submodule "kicad-libraries/symbols"]
	path = kicad-libraries/symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "kicad-libraries/footprints"]
	path = kicad-libraries/footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
[submodule "submodules/kicad-cli-docker"]
	path = submodules/kicad-cli-docker
	url = https://gitlab.com/kicad/packaging/kicad-cli-docker.git
[submodule "submodules/kicad-mcp"]
	path = submodules/kicad-mcp
	url = https://github.com/lamaalrajih/kicad-mcp.git
[submodule "submodules/modm-devices"]
	path = submodules/modm-devices
	url = https://github.com/modm-io/modm-devices.git
[submodule "submodules/atopile"]
	path = submodules/atopile
	url = https://github.com/atopile/atopile
[submodule "libraries/digikey-kicad"]
	path = libraries/digikey-kicad
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "submodules/kicad-skip"]
	path = submodules/kicad-skip
	url = https://github.com/psychogenic/kicad-skip.git
[submodule "submodules/KiCAD-MCP-Server"]
	path = submodules/KiCAD-MCP-Server
	url = https://github.com/mixelpixx/KiCAD-MCP-Server.git
[submodule "submodules/kicad-sch-api"]
	path = submodules/kicad-sch-api
	url = git@github.com:circuit-synth/kicad-sch-api.git
